body {
  font-family: 'Rhodium Libre';
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.main {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.appTitle {
  background-color: rgb(61, 9, 9);
  margin: 10px 50px;
  border: 4px solid;
  border-color: #FF0000;
  padding-top: 20px;
  box-shadow: 0 0px 50px 0 rgb(255, 41, 41);
}


.startbtn:hover {
  box-shadow: 0 0px 25px 0 rgb(255, 206, 206);
}

.startbtn {
  color: rgb(255, 255, 255);
  padding: 30px 120px;
  height: 700px;
  position: center;
  background: #FF0000;
  font-size: 50px;
  border: 4px solid;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 36%;
  text-decoration: none;
}

.timeshow{
  background-color: #311010;
  box-shadow: 0 0px 50px 0px rgb(255, 41, 41);
  border-color: #FF0000;

}

.numbers {
  color: rgb(255, 0, 0);
  font-size: 60px;
  font-family: monospace;
}

.timer-count-box {
  padding: 25px 0px;
  background-color: rgb(35, 4, 4);
  text-align: center;
  border-radius: 75px;
  width: 400px;
  margin: auto;
  border: 5px solid red;
  box-shadow: 0 0px 50px 0px rgb(0, 0, 0);
}

.box-top {
  display: flex;
  /* gap: 50px; */
  text-align: center;
}

.hp{
  margin: auto;
}

.hp-text ,
.timer-text {
  color: rgb(255, 255, 255);
  margin: 0;
}

.time-box{
  width: 500px;
  margin: auto;
}

.timer-btn-div{
  text-align: center;
  margin: 20px;
}

.timer-btn{
  margin: 0px 15px;
  padding: 10px 20px;
  border: none;
  font-size: 22px;
  border-radius: 50px;
  background-color: #311010;
  color: white;
  border: 5px solid red;
  box-shadow: 0 0px 50px 0px rgb(0, 0, 0);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.timer-btn:hover{
  box-shadow: 0 0px 25px 0px rgb(255, 0, 0);
}

.score-card{
  color:  white;
  font-size: 36px;
  display: flex;
  background-color: #311010;
  width: 1000px;
  height: 100px;
  margin: 20px auto;
  border: 5px solid red;
  box-shadow: 0 0px 50px 0px rgb(0, 0, 0);
  font-family: monospace;
}

.score-card-rank{
  margin: 0 0 0 50px;
  align-self: center;
  font-size: 70px;
}

.score-card-name{
  margin: 0 0 0 70px;
  align-self: center;
  width: 400px;
}

.score-card-score{
  margin: 0 0 0 200px;
  align-self: center;
}

.scoreboard-list{
  overflow: hidden;
  height: 500px;
}

.health-bar{
  width: 209px;
  height: 115px;
}

/* .game-stat-box{
  margin-top: 50px;
} */